<appSettings>
  <!--Dev-->
  <add key="ScheduleMgmtServiceURL" value="https://gtcomplyrite.pratian.com/"/>  
  <add key="ReportMgmtServiceURL" value="https://gtcomplyrite.pratian.com/"/>
  <add key="DeployedURL" value="https://complyrite.greentickft.com/ReportMgmt/Report/ReportIndex?audId="/>
  <add key="IntroductionPageLogo" value="/Areas/ReportMgmt/Content/Images/HEALTHFIRST_LOGO.jpg"/>
  <add key="AuditMgmtServiceURL" value="https://gtcomplyrite.pratian.com/"/>
  <add key="ImagePath" value="D:\DEVCI\"/>
  <add key="CheckImagePath" value="D:\DEVCI\CHECK"/>
  <add key="ChecklistImagePath" value="D:\DEVCI\CHECKLIST"/>

  <!--Test Config-->
  <!--<add key="ScheduleMgmtServiceURL" value="https://test-greentick.pratian.com/"/>
  <add key="ReportMgmtServiceURL" value="http://172.30.11.7:8304/"/>
  <add key="DeployedURL" value="https://test-complyrite.pratian.com/ReportMgmt/Report/ReportIndex?audId="/>
  <add key="IntroductionPageLogo" value="/Areas/ReportMgmt/Content/Images/HEALTHFIRST_LOGO.jpg"/>
  <add key="AuditMgmtServiceURL" value="https://test-greentick.pratian.com/"/>
  <add key="ImagePath" value="D:\DEVCI\"/>-->


  <!-- ADFS MetaData information : Akash-->
  <add key="ida:ADFSMetadata" value="https://login.greentickft.com/FederationMetadata/2007-06/FederationMetadata.xml" />
  <add key="ida:Wtrealm" value="https://localhost:44373/" />
  <!--For Authentication With ADFS-->
  <add key="AccountControllerNamespace" value="ComplyRite.Web.MVC.Controllers" />
  <!--For Authentication With Identity-->
  <!--<add key="AccountControllerNamespace" value="MIRRA.HTP.Web.Controllers.Identity" />-->


  <!--UAT Config-->
  <!--<add key="ScheduleMgmtServiceURL" value="https://uat-services.greentickft.com/"/>
  <add key="ReportMgmtServiceURL" value="https://172.30.11.7:8151"/>
  <add key="DeployedURL" value="https://uat-complyrite.greentickft.com/ReportMgmt/Report/ReportIndex?audId="/>
  <add key="EmailLog" value="D:\EmailLog"/>
  <add key="CompliantStickerPercentage" value="60"/>
  <add key="IntroductionPageLogo" value="/Areas/ReportMgmt/Content/Images/HEALTHFIRST_LOGO.jpg"/>
  <add key="AuditMgmtServiceURL" value="https://uat-services.greentickft.com/"/>
  <add key="ReportRecipient" value=""/>
  <add key="ImagePath" value="D:\DEVCI\"/>-->

  <!--Live Config-->
  <!--<add key="ScheduleMgmtServiceURL" value="https://services.greentickft.com/"/>
  <add key="ReportMgmtServiceURL" value="https://services.greentickft.com/"/>
  <add key="DeployedURL" value="https://complyrite.greentickft.com/ReportMgmt/Report/ReportIndex?audId="/>
  <add key="IntroductionPageLogo" value="/Areas/ReportMgmt/Content/Images/HEALTHFIRST_LOGO.jpg"/>
  <add key="AuditMgmtServiceURL" value="https://test-greentick.pratian.com/"/>
  <add key="ImagePath" value="D:\DEVCI\"/>-->


  
  
  <!-- Tableau Details-->
  <add key="webpages:Enabled" value="false" />

  <!-- Tableau Details for Dev -->
  <!--<add key="TableauServer" value="https://test-tableau.pratian.com/" />
    <add key="TableauJSURL" value="https://test-tableau.pratian.com/javascripts/api/tableau-2.min.js" />
    <add key="DashboardName" value="/t/GreenTick/views/SimpleGauge/Analytic_Home_v2_0?" />
    <add key="ReportEnv" value="Dev" />-->

  <!-- Tableau Details for Test -->
  <add key="TableauServer" value="https://test-tableau.pratian.com/" />
  <add key="TableauJSURL" value="https://test-tableau.pratian.com/javascripts/api/tableau-2.min.js" />
  <add key="DashboardName" value="/t/GreenTick/views/SimpleGauge/Analytic_Home_v2_0?" />
  <add key="ReportEnv" value="Test" />


  <!-- Tableau Details for UAT -->
  <!--<add key="TableauServer" value="https://vyacta-report.pratian.com/" />
    <add key="TableauJSURL" value="https://vyacta-report.pratian.com/javascripts/api/tableau-2.min.js" />
    <add key="DashboardName" value="/t/GreenTick/views/SimpleGauge/Analytic_Home_v2_0?" />
    <add key="ReportEnv" value="UAT" />-->


  <!-- Tableau Details for Live -->
  <!--<add key="TableauServer" value="https://vyacta-report.pratian.com/" />
    <add key="TableauJSURL" value="https://vyacta-report.pratian.com/javascripts/api/tableau-2.min.js" />
    <add key="DashboardName" value="/t/GreenTick/views/SimpleGauge_Live/Analytic_Home_v2_0?" />
    <add key="ReportEnv" value="Live" />-->



  <!--<add key="TableauServer" value="https://vyacta-report.pratian.com/" />
    <add key="TableauServer-test" value="https://test-tableau.pratian.com/" />-->
  <add key="TargetSiteForGreenTick" value="GreenTick" />
  <add key="TargetSiteForEDW" value="EDW" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>

