@*<link href="~/Areas/SchedulingMgmt/Contents/CSS/SchedulingManagement.css" rel="stylesheet" />*@

@*<div class="add-view-tab" style="text-align:center">
        <div class="add-tab schedule-tab">ADD</div>
        <div class="view-tab schedule-tab">VIEW</div>
    </div>*@
<div style="width:300px;position:">
    <div class="schedule-date">
        Date goes here

    </div>
    <a class="btn-floating waves-effect waves-light red add-schedule-rightview"><i class="material-icons">add</i></a>
</div>

<div class="scheduled-published-drafts" style="padding-top:10px;">
    <div class="scheduled-checklist">
        <div class="schedule-color-tag">

        </div>
        <div class="schedule-details">
            <div class="schedule-checklist-name">
                H/F Cleaning Cleaning Cleaning
            </div>
            <div class="schedule-area">
                Brookfield Kitchen
            </div>
            <div style="padding:5px;"></div>
            <div class="schedule-supervisor-name">
                Sharda
            </div>
            <div class="schedule-datetime">
                <div class="scheduledate">
                    10:00AM - 3:30PM
                </div>
                <div class="scheduletime">
                    <small>expires at: 6:00PM</small>
                </div>
            </div>
        </div>
    </div>

    <div class="scheduled-draft">
        <div class="schedule-color-tag">

        </div>
        <div class="schedule-details">
            <div class="schedule-checklist-name">
                H/F Cleaning
            </div>
            <div class="schedule-area">
                Brookfield Kitchen
            </div>
            <div style="padding:5px;"></div>
            <div class="schedule-supervisor-name">
                Sharda
            </div>
            <div class="schedule-datetime">
                <div class="scheduledate">
                    10:00AM - 3:30PM
                </div>
                <div class="scheduletime">
                    <small>expires at: 6:00PM</small>
                </div>
            </div>
        </div>
    </div>

    <div class="scheduled-checklist">
        <div class="schedule-color-tag">

        </div>
        <div class="schedule-details">
            <div class="schedule-checklist-name">
                H/F Cleaning Cleaning Cleaning
            </div>
            <div class="schedule-area">
                Brookfield Kitchen
            </div>
            <div style="padding:5px;"></div>
            <div class="schedule-supervisor-name">
                Sharda
            </div>
            <div class="schedule-datetime">
                <div class="scheduledate">
                    10:00AM - 3:30PM
                </div>
                <div class="scheduletime">
                    <small>expires at: 6:00PM</small>
                </div>
            </div>
        </div>
    </div>

    <div class="scheduled-draft">
        <div class="schedule-color-tag">

        </div>
        <div class="schedule-details">
            <div class="schedule-checklist-name">
                H/F Cleaning
            </div>
            <div class="schedule-area">
                Brookfield Kitchen
            </div>
            <div style="padding:5px;"></div>
            <div class="schedule-supervisor-name">
                Sharda
            </div>
            <div class="schedule-datetime">
                <div class="scheduledate">
                    10:00AM - 3:30PM
                </div>
                <div class="scheduletime">
                    <small>expires at: 6:00PM</small>
                </div>
            </div>
        </div>
    </div>

    <div class="scheduled-checklist">
        <div class="schedule-color-tag">

        </div>
        <div class="schedule-details">
            <div class="schedule-checklist-name">
                H/F Cleaning Cleaning Cleaning
            </div>
            <div class="schedule-area">
                Brookfield Kitchen
            </div>
            <div style="padding:5px;"></div>
            <div class="schedule-supervisor-name">
                Sharda
            </div>
            <div class="schedule-datetime">
                <div class="scheduledate">
                    10:00AM - 3:30PM
                </div>
                <div class="scheduletime">
                    <small>expires at: 6:00PM</small>
                </div>
            </div>
        </div>
    </div>

    <div class="scheduled-draft">
        <div class="schedule-color-tag">

        </div>
        <div class="schedule-details">
            <div class="schedule-checklist-name">
                H/F Cleaning
            </div>
            <div class="schedule-area">
                Brookfield Kitchen
            </div>
            <div style="padding:5px;"></div>
            <div class="schedule-supervisor-name">
                Sharda
            </div>
            <div class="schedule-datetime">
                <div class="scheduledate">
                    10:00AM - 3:30PM
                </div>
                <div class="scheduletime">
                    <small>expires at: 6:00PM</small>
                </div>
            </div>
        </div>
    </div>

    <div class="scheduled-draft">
        <div class="schedule-color-tag">

        </div>
        <div class="schedule-details">
            <div class="schedule-checklist-name">
                H/F Cleaning
            </div>
            <div class="schedule-area">
                Brookfield Kitchen
            </div>
            <div style="padding:5px;"></div>
            <div class="schedule-supervisor-name">
                Sharda
            </div>
            <div class="schedule-datetime">
                <div class="scheduledate">
                    10:00AM - 3:30PM
                </div>
                <div class="scheduletime">
                    <small>expires at: 6:00PM</small>
                </div>
            </div>
        </div>
    </div>

    <div class="scheduled-draft">
        <div class="schedule-color-tag">

        </div>
        <div class="schedule-details">
            <div class="schedule-checklist-name">
                H/F Cleaning
            </div>
            <div class="schedule-area">
                Brookfield Kitchen
            </div>
            <div style="padding:5px;"></div>
            <div class="schedule-supervisor-name">
                Sharda
            </div>
            <div class="schedule-datetime">
                <div class="scheduledate">
                    10:00AM - 3:30PM
                </div>
                <div class="scheduletime">
                    <small>expires at: 6:00PM</small>
                </div>
            </div>
        </div>
    </div>

    <div class="scheduled-draft">
        <div class="schedule-color-tag">

        </div>
        <div class="schedule-details">
            <div class="schedule-checklist-name">
                H/F Cleaning
            </div>
            <div class="schedule-area">
                Brookfield Kitchen
            </div>
            <div style="padding:5px;"></div>
            <div class="schedule-supervisor-name">
                Sharda
            </div>
            <div class="schedule-datetime">
                <div class="scheduledate">
                    10:00AM - 3:30PM
                </div>
                <div class="scheduletime">
                    <small>expires at: 6:00PM</small>
                </div>
            </div>
        </div>
    </div>
</div>
