.margin-top-15 {
    margin-top: 15% !important;
}

.margin-bottom-2 {
    margin-bottom: 2% !important;
}

.padding-top-0 {
    padding-top: 0px !important;
}


#checkInChecklistCount {
    font-size: 35px;
    color: blue;
    cursor:default;
}


