@*@{
        Layout = null;
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Materialize/materialize.min.css" rel="stylesheet" />
    <link href="~/Areas/AppStore/Content/CSS/AppUpdate.css" rel="stylesheet" />
    <style>
        .font {
            font-family: sans-serif;
        }
    </style>

    <title>AppUpdateIndex</title>
</head>
<body>

    <div>
        <div class="font">
            @*<div class="col s3" style="height:50em; background-color: #4b7ab1">
                    <h3>Greentick</h3>
                </div>*@
            <div class="col s12 m12 l12">
                <div class="">
                    <h2 class="">
                        <span style="color: #4b7ab1">APP</span> <span style="color: black">UPDATES</span>

                    </h2>
                    <div class="divider" style="margin: 1em"></div>
                    
                </div>
                <div class="row">
                    <!------------------Download Android App----New Card Style -->
                    <div class="col s12 m6 l6">
                        <div class="card horizontal">
                            <div class=" col s4 l3 center-align" style="background-color:#414960;padding-top: 4.2rem;">
                                <span><i class="material-icons" style="color: white;font-size: 5rem;">android</i></span>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <span class="card-title card-header-font">ComplyRite App - Android</span>
                                    <p>
                                        @*ComplyRite is an Auditing Application which helps in tracking the Activities by the Higher Level Authority and generates the Reports for getting more precised result on Auditing.*@
                                        <br />ComplyRite version 1.0
                                        <br />OS Support: Android 6 +
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="DownloadFile?file=complyrite-lite.apk" style="color: cadetblue"><i class="material-icons" style="vertical-align: middle;">file_download</i> Download App</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!------------------Download iOS App----New Card Style -->
                    <div class="col s12 m6 l6">
                        <div class="card horizontal">
                            <div class=" col s4 l3" style="background-color:#414960;display: flex; justify-content: center;align-items: center;">
                                <span><i class="fab fa-apple" style="color: white;font-size: 5rem;"></i></span>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <span class="card-title card-header-font">ComplyRite App - iOS</span>
                                    <p>
                                        @*ComplyRite is an Auditing Application which helps in tracking the Activities by the Higher Level Authority and generates the Reports for getting more precised result on Auditing.*@
                                        <br />ComplyRite version 1.0
                                        <br />OS Support: iOS 10+
                                    </p>
                                </div>
                                <div class="card-action">
                                    @*<a href="#" style="color: cadetblue">Coming Soon</a>*@
                                    <a href="DownloadFile?file=complyrite-lite.ipa" style="color: cadetblue"><i class="material-icons" style="vertical-align: middle;">file_download</i> Download App</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="cards-container">
                        <!--Android Card-->
                        <div class="card col s12 m5 l4 offset-l1" style="padding-left: 0;padding-right:0px">
                            <div class="card-content">
                                <span class="card-title"><i class="material-icons" style="color: darkcyan">android</i> ComplyRite App - Android</span>
                                <p>
                                    ComplyRite is an Auditing Application which helps in tracking the Activities by the Higher Level Authority and generates the Reports for getting more precised result on Auditing.
                                    <br />ComplyRite version 1.0
                                    <br />OS Support: Android 5 +
                                </p>
                            </div>
                            <div class="card-action deep-orange darken-4">
                                <a href="DownloadFile?file=complyrite-lite.apk" style="color: white"><i class="material-icons" style="vertical-align: middle;">file_download</i> Download App</a>
                            </div>
                        </div>


                        <!--Android Card-------------------->
                        <!--iOS Card-->
                        <div class="card col s12 m5 l4 offset-l2" style="padding-left: 0; padding-right:0">

                            <div class="card-content">
                                <span class="card-title"><i class="fab fa-apple"></i> ComplyRite App - iOS</span>
                                <p>

                                    <br />ComplyRite version 1.0
                                    <br />OS Support: iOS 10+
                                </p>
                            </div>
                            <div class="card-action deep-orange darken-4">
                                <a href="#" target="_blank" style="color: white">Coming Soon</a>
                            </div>

                        </div>





                    </div>*@




            </div>


        </div>



    </div>

</body>
</html>
